.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  height: 500px;
  width: 410px;
  background-color: #d6d7d8;
  border: 5px outset #f9f9f9;
  padding: 110px 15px 15px;
}

.play-board {
  height: 370px;
  width: 370px;
  border: 5px inset #f9f9f9;
  font-size: 0;
}

.cell {
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 0;
  max-width: 360px;
}

.icon {
  height: 40px;
  width: 40px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: 0;
}
