.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  height: 515px;
  width: 410px;
  background-color: #d6d7d8;
  border: 5px outset #f9f9f9;
  padding: 15px;
}

.sub-board {
  height: 90px;
  width: 370px;
  border: 5px inset #f9f9f9;
  font-size: 0;
}

.bomb-count {
  height: 70px;
  width: 140px;
  margin: 5px;
  background-color: black;
  display: inline-block;
}

.reset {
  height: 40px;
  width: 40px;
  border: 5px outset #f9f9f9;
  display: inline-block;
  margin: 25px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: -330px;
}

.reset:active {
  transform: translate3d();
  background-position: -360px;
  border: 5px inset #f9f9f9;
}

.bar {
  height: 15px;
  width: 370px;
}

.play-board {
  height: 370px;
  width: 370px;
  border: 5px inset #f9f9f9;
  font-size: 0;
}

.cell {
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 0;
  max-width: 360px;
}

.icon {
  height: 40px;
  width: 40px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-position: 0;
}

.icon:active {
  border: 5px inset #f9f9f9;
}
